relaxng/schemas/slides-full/slides-full.nvdl

<?xml version="1.0" encoding="UTF-8"?>
<rules xmlns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"
       startMode="slides-full">

<mode name="slides-full">
  <namespace ns="http://docbook.org/ns/docbook">
    <validate schema="rng/slides-full.rng" useMode="attach"/>
    <validate schema="sch/slides-full.sch" useMode="attach"/>
  </namespace>
</mode>

<mode name="attach">
  <anyNamespace>
    <attach/>
  </anyNamespace>
</mode>

</rules>
