MovedToCodeberg/src/sdocbook/nvdl/sdocbook/sdocbook.nvdl

<?xml version="1.0" encoding="UTF-8"?>
<rules xmlns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"
       startMode="sdocbook">

<mode name="sdocbook">
  <namespace ns="http://docbook.org/ns/docbook">
    <validate schema="rng/sdocbook.rng" useMode="attach"/>
    <validate schema="sch/sdocbook.sch" useMode="attach"/>
  </namespace>
</mode>

<mode name="attach">
  <anyNamespace>
    <attach/>
  </anyNamespace>
</mode>

</rules>
