relaxng/schemas/publishers/publishers.nvdl

<?xml version="1.0" encoding="UTF-8"?>
<rules xmlns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"
       startMode="publishers">

<mode name="publishers">
  <namespace ns="http://docbook.org/ns/docbook">
    <validate schema="rng/publishers.rng" useMode="attach"/>
    <validate schema="sch/publishers.sch" useMode="attach"/>
  </namespace>
</mode>

<mode name="attach">
  <anyNamespace>
    <attach/>
  </anyNamespace>
</mode>

</rules>
