MovedToCodeberg/src/website/nvdl/website-full.nvdl

<?xml version="1.0" encoding="UTF-8"?>
<rules xmlns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"
       startMode="website-full">

<mode name="website-full">
  <namespace ns="http://docbook.org/ns/docbook">
    <validate schema="rng/website-full.rng" useMode="attach"/>
    <validate schema="sch/website-full.sch" useMode="attach"/>
  </namespace>
</mode>

<mode name="attach">
  <anyNamespace>
    <attach/>
  </anyNamespace>
</mode>

</rules>
