MovedToCodeberg/src/website/nvdl/website.nvdl

<?xml version="1.0" encoding="UTF-8"?>
<rules xmlns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"
       startMode="website">

<mode name="website">
  <namespace ns="http://docbook.org/ns/docbook">
    <validate schema="rng/website.rng" useMode="attach"/>
    <validate schema="sch/website.sch" useMode="attach"/>
  </namespace>
</mode>

<mode name="attach">
  <anyNamespace>
    <attach/>
  </anyNamespace>
</mode>

</rules>
