xmlschema/schemas/publishers/publishers.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           targetNamespace="http://docbook.org/ns/docbook"
           xmlns:dcterms="http://purl.org/dc/terms/"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:db="http://docbook.org/ns/docbook">
<xs:import namespace="http://purl.org/dc/terms/" schemaLocation="dcterms.xsd"/>

<xs:override schemaLocation="../docbook/docbook.xsd">
  <xs:element name="sidebar">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="db:_info.title.only" minOccurs="0"/>
        <xs:group ref="db:all.blocks" maxOccurs="unbounded"/>
        <!-- allow sections -->
        <xs:group ref="db:recursive.sections" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="db:common.attributes"/>
      <xs:attributeGroup ref="db:common.linking.attributes"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="person">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="db:personname"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="db:address"/>
          <xs:element ref="db:affiliation"/>
          <xs:element ref="db:email"/>
          <xs:element ref="db:uri"/>
          <xs:element ref="db:personblurb"/>
          <!-- add mediaobject -->
          <xs:element ref="db:mediaobject"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="db:common.attributes"/>
      <xs:attributeGroup ref="db:common.linking.attributes"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="org">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="db:orgname"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="db:address"/>
          <xs:element ref="db:affiliation"/>
          <xs:element ref="db:email"/>
          <xs:element ref="db:uri"/>
          <xs:element ref="db:orgdiv"/>
            <!-- add mediaobject -->
            <xs:element ref="db:mediaobject"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="db:common.attributes"/>
      <xs:attributeGroup ref="db:common.linking.attributes"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="parameter" type="db:notAllowed" abstract="true"/>

  <xs:group name="info.elements">
    <xs:choice>
      <xs:element ref="db:abstract"/>
      <xs:element ref="db:address"/>
      <xs:element ref="db:artpagenums"/>
      <xs:element ref="db:author"/>
      <xs:element ref="db:authorgroup"/>
      <xs:element ref="db:authorinitials"/>
      <xs:element ref="db:bibliocoverage"/>
      <xs:element ref="db:biblioid"/>
      <xs:element ref="db:bibliosource"/>
      <xs:element ref="db:collab"/>
      <xs:element ref="db:confgroup"/>
      <xs:element ref="db:contractsponsor"/>
      <xs:element ref="db:contractnum"/>
      <xs:element ref="db:copyright"/>
      <xs:element ref="db:cover"/>
      <xs:element ref="db:date"/>
      <xs:element ref="db:edition"/>
      <xs:element ref="db:editor"/>
      <xs:element ref="db:issuenum"/>
      <xs:element ref="db:legalnotice"/>
      <xs:element ref="db:mediaobject"/>
      <xs:element ref="db:org"/>
      <xs:element ref="db:orgname"/>
      <xs:element ref="db:othercredit"/>
      <xs:element ref="db:pagenums"/>
      <xs:element ref="db:printhistory"/>
      <xs:element ref="db:pubdate"/>
      <xs:element ref="db:publisher"/>
      <xs:element ref="db:publishername"/>
      <xs:element ref="db:releaseinfo"/>
      <xs:element ref="db:revhistory"/>
      <xs:element ref="db:seriesvolnums"/>
      <xs:element ref="db:subjectset"/>
      <xs:element ref="db:volumenum"/>
      <xs:element ref="db:annotation"/>
      <xs:element ref="db:extendedlink"/>
      <xs:element ref="db:bibliomisc"/>
      <xs:element ref="db:bibliomset"/>
      <xs:element ref="db:bibliorelation"/>
      <xs:element ref="db:biblioset"/>
      <xs:element ref="db:itermset"/>
      <xs:element ref="db:productname"/>
      <xs:element ref="db:productnumber"/>
      <xs:group ref="db:dublincore.elements"/>
    </xs:choice>
  </xs:group>

  <xs:group name="all.blocks">
    <xs:choice>
      <xs:group ref="db:nopara.blocks"/>
      <xs:group ref="db:para.blocks"/>
      <xs:element ref="db:annotation"/>
      <xs:element ref="db:indexterm"/>
      <!-- Add dialog, poetry, drama -->
      <xs:element ref="db:dialog"/>
      <xs:element ref="db:poetry"/>
      <xs:element ref="db:drama"/>
    </xs:choice>
  </xs:group>

  <xs:element name="accel" type="db:notAllowed" abstract="true"/>
  <xs:element name="annotation" type="db:notAllowed" abstract="true"/>
  <xs:element name="application" type="db:notAllowed" abstract="true"/>
  <xs:element name="arc" type="db:notAllowed" abstract="true"/>
  <xs:element name="arg" type="db:notAllowed" abstract="true"/>
  <xs:element name="caution" type="db:notAllowed" abstract="true"/>
  <xs:element name="citerefentry" type="db:notAllowed" abstract="true"/>
  <xs:element name="classname" type="db:notAllowed" abstract="true"/>
  <xs:element name="classsynopsis" type="db:notAllowed" abstract="true"/>
  <xs:element name="classsynopsisinfo" type="db:notAllowed" abstract="true"/>
  <xs:element name="cmdsynopsis" type="db:notAllowed" abstract="true"/>
  <xs:element name="code" type="db:notAllowed" abstract="true"/>
  <xs:element name="col" type="db:notAllowed" abstract="true"/>
  <xs:element name="colgroup" type="db:notAllowed" abstract="true"/>
  <xs:element name="command" type="db:notAllowed" abstract="true"/>
  <xs:element name="computeroutput" type="db:notAllowed" abstract="true"/>
  <xs:element name="constant" type="db:notAllowed" abstract="true"/>
  <xs:element name="constraint" type="db:notAllowed" abstract="true"/>
  <xs:element name="constraintdef" type="db:notAllowed" abstract="true"/>
  <xs:element name="constructorsynopsis" type="db:notAllowed" abstract="true"/>
  <xs:element name="database" type="db:notAllowed" abstract="true"/>
  <xs:element name="destructorsynopsis" type="db:notAllowed" abstract="true"/>
  <xs:element name="envar" type="db:notAllowed" abstract="true"/>
  <xs:element name="errorcode" type="db:notAllowed" abstract="true"/>
  <xs:element name="errorname" type="db:notAllowed" abstract="true"/>
  <xs:element name="errortext" type="db:notAllowed" abstract="true"/>
  <xs:element name="errortype" type="db:notAllowed" abstract="true"/>
  <xs:element name="exceptionname" type="db:notAllowed" abstract="true"/>
  <xs:element name="extendedlink" type="db:notAllowed" abstract="true"/>
  <xs:element name="fieldsynopsis" type="db:notAllowed" abstract="true"/>
  <xs:element name="filename" type="db:notAllowed" abstract="true"/>
  <xs:element name="funcdef" type="db:notAllowed" abstract="true"/>
  <xs:element name="funcparams" type="db:notAllowed" abstract="true"/>
  <xs:element name="funcprototype" type="db:notAllowed" abstract="true"/>
  <xs:element name="funcsynopsis" type="db:notAllowed" abstract="true"/>
  <xs:element name="funcsynopsisinfo" type="db:notAllowed" abstract="true"/>
  <xs:element name="function" type="db:notAllowed" abstract="true"/>
  <xs:element name="group" type="db:notAllowed" abstract="true"/>
  <xs:element name="paramdef" type="db:notAllowed" abstract="true"/>
  <xs:element name="methodparam" type="db:notAllowed" abstract="true"/>
  <xs:element name="guibutton" type="db:notAllowed" abstract="true"/>
  <xs:element name="guiicon" type="db:notAllowed" abstract="true"/>
  <xs:element name="guilabel" type="db:notAllowed" abstract="true"/>
  <xs:element name="guimenu" type="db:notAllowed" abstract="true"/>
  <xs:element name="guimenuitem" type="db:notAllowed" abstract="true"/>
  <xs:element name="guisubmenu" type="db:notAllowed" abstract="true"/>
  <xs:element name="hardware" type="db:notAllowed" abstract="true"/>
  <xs:element name="important" type="db:notAllowed" abstract="true"/>
  <xs:element name="indexdiv" type="db:notAllowed" abstract="true"/>
  <xs:element name="indexentry" type="db:notAllowed" abstract="true"/>
  <xs:element name="initializer" type="db:notAllowed" abstract="true"/>
  <xs:element name="interfacename" type="db:notAllowed" abstract="true"/>
  <xs:element name="keycap" type="db:notAllowed" abstract="true"/>
  <xs:element name="keycode" type="db:notAllowed" abstract="true"/>
  <xs:element name="keycombo" type="db:notAllowed" abstract="true"/>
  <xs:element name="keysym" type="db:notAllowed" abstract="true"/>
  <xs:element name="lhs" type="db:notAllowed" abstract="true"/>
  <xs:element name="lineannotation" type="db:notAllowed" abstract="true"/>
  <xs:element name="locator" type="db:notAllowed" abstract="true"/>
  <xs:element name="manvolnum" type="db:notAllowed" abstract="true"/>
  <xs:element name="markup" type="db:notAllowed" abstract="true"/>
  <xs:element name="menuchoice" type="db:notAllowed" abstract="true"/>
  <xs:element name="methodname" type="db:notAllowed" abstract="true"/>
  <xs:element name="methodsynopsis" type="db:notAllowed" abstract="true"/>
  <xs:element name="modifier" type="db:notAllowed" abstract="true"/>
  <xs:element name="mousebutton" type="db:notAllowed" abstract="true"/>
  <xs:element name="msg" type="db:notAllowed" abstract="true"/>
  <xs:element name="msgaud" type="db:notAllowed" abstract="true"/>
  <xs:element name="msgentry" type="db:notAllowed" abstract="true"/>
  <xs:element name="msgexplan" type="db:notAllowed" abstract="true"/>
  <xs:element name="msginfo" type="db:notAllowed" abstract="true"/>
  <xs:element name="msglevel" type="db:notAllowed" abstract="true"/>
  <xs:element name="msgmain" type="db:notAllowed" abstract="true"/>
  <xs:element name="msgorig" type="db:notAllowed" abstract="true"/>
  <xs:element name="msgrel" type="db:notAllowed" abstract="true"/>
  <xs:element name="msgset" type="db:notAllowed" abstract="true"/>
  <xs:element name="msgsub" type="db:notAllowed" abstract="true"/>
  <xs:element name="msgtext" type="db:notAllowed" abstract="true"/>
  <xs:element name="nonterminal" type="db:notAllowed" abstract="true"/>
  <xs:element name="ooclass" type="db:notAllowed" abstract="true"/>
  <xs:element name="ooexception" type="db:notAllowed" abstract="true"/>
  <xs:element name="oointerface" type="db:notAllowed" abstract="true"/>
  <xs:element name="option" type="db:notAllowed" abstract="true"/>
  <xs:element name="package" type="db:notAllowed" abstract="true"/>
  <xs:element name="parameter" type="db:notAllowed" abstract="true"/>
  <xs:element name="primaryie" type="db:notAllowed" abstract="true"/>
  <xs:element name="production" type="db:notAllowed" abstract="true"/>
  <xs:element name="productionrecap" type="db:notAllowed" abstract="true"/>
  <xs:element name="productionset" type="db:notAllowed" abstract="true"/>
  <xs:element name="programlisting" type="db:notAllowed" abstract="true"/>
  <xs:element name="programlistingco" type="db:notAllowed" abstract="true"/>
  <xs:element name="prompt" type="db:notAllowed" abstract="true"/>
  <xs:element name="property" type="db:notAllowed" abstract="true"/>
  <xs:element name="refclass" type="db:notAllowed" abstract="true"/>
  <xs:element name="refdescriptor" type="db:notAllowed" abstract="true"/>
  <xs:element name="refentry" type="db:notAllowed" abstract="true"/>
  <xs:element name="refentrytitle" type="db:notAllowed" abstract="true"/>
  <xs:element name="reference" type="db:notAllowed" abstract="true"/>
  <xs:element name="refmeta" type="db:notAllowed" abstract="true"/>
  <xs:element name="refmiscinfo" type="db:notAllowed" abstract="true"/>
  <xs:element name="refname" type="db:notAllowed" abstract="true"/>
  <xs:element name="refnamediv" type="db:notAllowed" abstract="true"/>
  <xs:element name="refpurpose" type="db:notAllowed" abstract="true"/>
  <xs:element name="refsect1" type="db:notAllowed" abstract="true"/>
  <xs:element name="refsect2" type="db:notAllowed" abstract="true"/>
  <xs:element name="refsect3" type="db:notAllowed" abstract="true"/>
  <xs:element name="refsection" type="db:notAllowed" abstract="true"/>
  <xs:element name="refsynopsisdiv" type="db:notAllowed" abstract="true"/>
  <xs:element name="replaceable" type="db:notAllowed" abstract="true"/>
  <xs:element name="returnvalue" type="db:notAllowed" abstract="true"/>
  <xs:element name="rhs" type="db:notAllowed" abstract="true"/>
  <xs:element name="sbr" type="db:notAllowed" abstract="true"/>
  <xs:element name="screen" type="db:notAllowed" abstract="true"/>
  <xs:element name="screenco" type="db:notAllowed" abstract="true"/>
  <xs:element name="screenshot" type="db:notAllowed" abstract="true"/>
  <xs:element name="sect1" type="db:notAllowed" abstract="true"/>
  <xs:element name="sect2" type="db:notAllowed" abstract="true"/>
  <xs:element name="sect3" type="db:notAllowed" abstract="true"/>
  <xs:element name="sect4" type="db:notAllowed" abstract="true"/>
  <xs:element name="sect5" type="db:notAllowed" abstract="true"/>
  <xs:element name="seealsoie" type="db:notAllowed" abstract="true"/>
  <xs:element name="seeie" type="db:notAllowed" abstract="true"/>
  <xs:element name="seg" type="db:notAllowed" abstract="true"/>
  <xs:element name="seglistitem" type="db:notAllowed" abstract="true"/>
  <xs:element name="segmentedlist" type="db:notAllowed" abstract="true"/>
  <xs:element name="segtitle" type="db:notAllowed" abstract="true"/>
  <xs:element name="shortcut" type="db:notAllowed" abstract="true"/>
  <xs:element name="simplemsgentry" type="db:notAllowed" abstract="true"/>
  <xs:element name="symbol" type="db:notAllowed" abstract="true"/>
  <xs:element name="synopfragment" type="db:notAllowed" abstract="true"/>
  <xs:element name="synopfragmentref" type="db:notAllowed" abstract="true"/>
  <xs:element name="synopsis" type="db:notAllowed" abstract="true"/>
  <xs:element name="systemitem" type="db:notAllowed" abstract="true"/>
  <xs:element name="tag" type="db:notAllowed" abstract="true"/>
  <xs:element name="td" type="db:notAllowed" abstract="true"/>
  <xs:element name="tertiaryie" type="db:notAllowed" abstract="true"/>
  <xs:element name="th" type="db:notAllowed" abstract="true"/>
  <xs:element name="tip" type="db:notAllowed" abstract="true"/>
  <xs:element name="tocdiv" type="db:notAllowed" abstract="true"/>
  <xs:element name="tocentry" type="db:notAllowed" abstract="true"/>
  <xs:element name="token" type="db:notAllowed" abstract="true"/>
  <xs:element name="tr" type="db:notAllowed" abstract="true"/>
  <xs:element name="type" type="db:notAllowed" abstract="true"/>
  <xs:element name="userinput" type="db:notAllowed" abstract="true"/>
  <xs:element name="varargs" type="db:notAllowed" abstract="true"/>
  <xs:element name="varname" type="db:notAllowed" abstract="true"/>
  <xs:element name="void" type="db:notAllowed" abstract="true"/>
  <xs:element name="warning" type="db:notAllowed" abstract="true"/>

  <!-- 5.1
  <xs:element name="topic" type="db:notAllowed" abstract="true"/>
  -->

  <!-- Only CALS tables. -->
  <xs:element name="table">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="db:_info.title.onlyreq" minOccurs="0" maxOccurs="1"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="db:alt"/>
          <xs:group ref="db:indexing.inlines"/>
          <xs:element ref="db:textobject"/>
        </xs:choice>
        <xs:choice>
          <xs:element ref="db:mediaobject" minOccurs="1" maxOccurs="unbounded"/>
          <xs:element ref="db:tgroup" minOccurs="1" maxOccurs="unbounded"/>
        </xs:choice>
        <xs:element ref="db:caption" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="db:label.attribute"/>
      <xs:attributeGroup ref="db:common.attributes"/>
      <xs:attributeGroup ref="db:common.linking.attributes"/>
      <xs:attributeGroup ref="db:tabstyle.attribute"/>
      <xs:attributeGroup ref="db:floatstyle.attribute"/>
      <xs:attributeGroup ref="db:orient.attribute"/>
      <xs:attributeGroup ref="db:colsep.attribute"/>
      <xs:attributeGroup ref="db:rowsep.attribute"/>
      <xs:attributeGroup ref="db:pgwide.attribute"/>
      <xs:attribute name="shortentry" type="db:zeroorone.type"/>
      <xs:attribute name="tocentry" type="db:zeroorone.type"/>
      <xs:attributeGroup ref="db:rowheader.attribute"/>
      <xs:attribute name="frame">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="all"/>
            <xs:enumeration value="bottom"/>
            <xs:enumeration value="none"/>
            <xs:enumeration value="sides"/>
            <xs:enumeration value="top"/>
            <xs:enumeration value="topbot"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="informaltable">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="db:_info.title.forbidden" minOccurs="0" maxOccurs="1"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="db:alt"/>
          <xs:group ref="db:indexing.inlines"/>
          <xs:element ref="db:textobject"/>
        </xs:choice>
        <xs:choice>
          <xs:element ref="db:mediaobject" minOccurs="1" maxOccurs="unbounded"/>
          <xs:element ref="db:tgroup" minOccurs="1" maxOccurs="unbounded"/>
        </xs:choice>
        <xs:element ref="db:caption" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="db:label.attribute"/>
      <xs:attributeGroup ref="db:common.attributes"/>
      <xs:attributeGroup ref="db:common.linking.attributes"/>
      <xs:attributeGroup ref="db:tabstyle.attribute"/>
      <xs:attributeGroup ref="db:floatstyle.attribute"/>
      <xs:attributeGroup ref="db:orient.attribute"/>
      <xs:attributeGroup ref="db:colsep.attribute"/>
      <xs:attributeGroup ref="db:rowsep.attribute"/>
      <xs:attributeGroup ref="db:pgwide.attribute"/>
      <xs:attribute name="shortentry" type="db:zeroorone.type"/>
      <xs:attribute name="tocentry" type="db:zeroorone.type"/>
      <xs:attributeGroup ref="db:rowheader.attribute"/>
      <xs:attribute name="frame">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="all"/>
            <xs:enumeration value="bottom"/>
            <xs:enumeration value="none"/>
            <xs:enumeration value="sides"/>
            <xs:enumeration value="top"/>
            <xs:enumeration value="topbot"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="index">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="db:_info" minOccurs="0"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="db:all.blocks"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="db:common.attributes"/>
      <xs:attributeGroup ref="db:common.linking.attributes"/>
      <xs:attribute name="label"/>
      <xs:attributeGroup ref="db:status.attribute"/>
      <xs:attribute name="type"/>
    </xs:complexType>
  </xs:element>

  <xs:group name="toplevel.sections">
    <xs:choice>
      <xs:choice>
        <xs:sequence>
          <xs:element ref="db:section" maxOccurs="unbounded"/>
          <xs:element ref="db:simplesect" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:element ref="db:simplesect" maxOccurs="unbounded"/>
      </xs:choice>
    </xs:choice>
  </xs:group>
</xs:override>

<!-- N.B. Only the substitution group heads appear in this list, there are additional
     Dublin Core elements that are allowed by virtue of being in those groups. -->
<xs:group name="dublincore.elements">
  <xs:choice>
    <xs:element ref="dcterms:title"/>
    <xs:element ref="dcterms:creator"/>
    <xs:element ref="dcterms:subject"/>
    <xs:element ref="dcterms:description"/>
    <xs:element ref="dcterms:publisher"/>
    <xs:element ref="dcterms:contributor"/>
    <xs:element ref="dcterms:date"/>
    <xs:element ref="dcterms:type"/>
    <xs:element ref="dcterms:format"/>
    <xs:element ref="dcterms:identifier"/>
    <xs:element ref="dcterms:source"/>
    <xs:element ref="dcterms:language"/>
    <xs:element ref="dcterms:relation"/>
    <xs:element ref="dcterms:coverage"/>
    <xs:element ref="dcterms:rights"/>
    <xs:element ref="dcterms:audience"/>
    <xs:element ref="dcterms:accrualMethod"/>
    <xs:element ref="dcterms:accrualPeriodicity"/>
    <xs:element ref="dcterms:accrualPolicy"/>
    <xs:element ref="dcterms:instructionalMethod"/>
    <xs:element ref="dcterms:provenance"/>
    <xs:element ref="dcterms:rightsHolder"/>
  </xs:choice>
</xs:group>

<xs:element name="speaker">
  <xs:complexType mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="db:person"/>
    </xs:choice>
    <xs:attribute name="role"/>
    <xs:attributeGroup ref="db:common.attributes"/>
    <xs:attributeGroup ref="db:common.linking.attributes"/>
    <xs:assert test="not(db:person) or (normalize-space(text()) = '')">
      <xs:annotation>
        <xs:documentation>Content must be text or person, not both</xs:documentation>
      </xs:annotation>
    </xs:assert>
  </xs:complexType>
</xs:element>

<xs:element name="line" type="db:inline.type"/>

<xs:element name="linegroup">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="db:speaker" minOccurs="0" maxOccurs="unbounded"/>
      <xs:choice minOccurs="1" maxOccurs="unbounded">
        <xs:element ref="db:line"/>
        <xs:group ref="db:all.blocks"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="role"/>
    <xs:attributeGroup ref="db:common.attributes"/>
    <xs:attributeGroup ref="db:common.linking.attributes"/>
  </xs:complexType>
</xs:element>

<xs:complexType name="lines.of.prose">
  <xs:sequence>
    <xs:group ref="db:_info.title.only" minOccurs="0"/>
    <xs:choice minOccurs="1" maxOccurs="unbounded">
      <xs:element ref="db:line"/>
      <xs:element ref="db:linegroup"/>
      <xs:group ref="db:all.blocks"/>
    </xs:choice>
  </xs:sequence>
  <xs:attribute name="role"/>
  <xs:attributeGroup ref="db:common.attributes"/>
  <xs:attributeGroup ref="db:common.linking.attributes"/>
</xs:complexType>

<xs:element name="poetry" type="db:lines.of.prose"/>
<xs:element name="dialog" type="db:lines.of.prose"/>
<xs:element name="drama" type="db:lines.of.prose"/>

<xs:complexType name="notAllowed" mixed="true"/>
<xs:element name="notAllowed" type="db:notAllowed"/>

</xs:schema>
