MovedToCodeberg/src/docbook/relaxng/docbook/mathml.rnc

namespace mml = "http://www.w3.org/1998/Math/MathML"
namespace ctrl = "http://nwalsh.com/xmlns/schema-control/"
namespace rng  = "http://relaxng.org/ns/structure/1.0"
namespace s = "http://purl.oclc.org/dsdl/schematron"
namespace db = "http://docbook.org/ns/docbook"
default namespace = "http://docbook.org/ns/docbook"

db.equation.content |= db._any.mml+
db.inlineequation.content |= db._any.mml+
db.imageobject.content |= db.imagedata.mathml

db.imagedata.mathml.content = db._any.mml

# ============================================================

[
   db:refname [ "imagedata" ]
   db:refpurpose [ "A MathML expression in a media object" ]
]
div {
   db.imagedata.mathml.role.attribute = attribute role { text }

   db.imagedata.mathml.attlist =
      db.imagedata.mathml.role.attribute?
    & db.common.attributes
    & [
       db:refpurpose [ "Specifies that the format of the data is MathML" ]
      ]
      attribute format {
         ## Specifies MathML.
         "mathml"
      }?
    & db.imagedata.align.attribute?
    & db.imagedata.valign.attribute?
    & db.imagedata.width.attribute?
    & db.imagedata.contentwidth.attribute?
    & db.imagedata.scalefit.attribute?
    & db.imagedata.scale.attribute?
    & db.imagedata.depth.attribute?
    & db.imagedata.contentdepth.attribute?

   db.imagedata.mathml.info = db._info.title.forbidden

   db.imagedata.mathml =
      element imagedata {
         db.imagedata.mathml.attlist,
         db.imagedata.mathml.info,
         db.imagedata.mathml.content+
      }
}

# ============================================================

[
   db:refname [ "mml:*" ]
   db:refpurpose [ "Any element from the MathML namespace" ]
]
div {

   db._any.mml =
      element mml:* { (db._any.attribute | text | db._any)* }

}
