MovedToCodeberg/src/docbook/relaxng/docbook/topic.rnc

namespace rng  = "http://relaxng.org/ns/structure/1.0"
namespace s = "http://purl.oclc.org/dsdl/schematron"
namespace db = "http://docbook.org/ns/docbook"
namespace dbx = "http://sourceforge.net/projects/docbook/defguide/schema/extra-markup"
default namespace = "http://docbook.org/ns/docbook"

start |= db.topic
db.book.components |= db.topic*
db.part.contentmodel |= db.topic+
db.chapter.contentmodel |= db.topic+
db.appendix.contentmodel |= db.topic+

# ======================================================================

[
   db:refname [ "topic" ]
   db:refpurpose [ "A modular unit of documentation not part of any particular narrative flow" ]
]
div {

   db.topic.status.attribute = db.status.attribute

   db.topic.role.attribute = attribute role { text }

   db.topic.type.attribute =
      [
         db:refpurpose [ "Identifies the topic type" ]
      ]
      attribute type { text }

   db.topic.attlist =
      db.topic.role.attribute?
    & db.topic.type.attribute?
    & db.common.attributes
    & db.common.linking.attributes
    & db.label.attribute?
    & db.topic.status.attribute?

   db.topic.info = db._info.title.req

   db.topic =
      element topic {
         db.topic.attlist,
         db.topic.info,
         db.navigation.components*,
         db.toplevel.blocks.or.sections,
         db.navigation.components*
      }
}
